.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 2vh;
}

.Percentages-Header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  vertical-align: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
